@font-face {
  font-family: pixel-standard;
  src: url('./assets/fonts/pixelfj8pt1.normal.ttf');
}

@font-face {
  font-family: pixel-bold;
  src: url('./assets/fonts/manaspace.regular.ttf');
}

@font-face {
  font-family: pixel-large;
  src: url('./assets/fonts/alagard.ttf');
}

#screenContainer {
  bottom: 0px;
  box-shadow: 0px 0px 5vw 0px #404040;
  height: 100%;
  left: 0px;
  right: 0px;
  top: 0px;
  width: 100%;
}

#viewport {
  color: white;
  cursor:url(./assets/images/UI/Pointer.png), default;
  font-family: pixel-standard;
  font-size: 8px;
  height: 360px;
  image-rendering: pixelated;
  position: relative;
  transform-origin: top left;
  width: 480px;
}

#viewport > div {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#viewport h1 {
  font-family: pixel-large;
  font-size: 16px;
  font-weight: normal;
}

#viewport h2 {
  font-family: pixel-bold;
  font-size: 12px;
  font-weight: normal;
}

#viewport input[type='text'] {
  background-color: transparent;
	border-bottom: Solid 1px rgba(255, 255, 255, 0.5);
	border-left: Solid 1px rgba(0, 0, 0, 0.5);
	border-right: Solid 1px rgba(255, 255, 255, 0.5);
	border-top: Solid 1px rgba(0, 0, 0, 0.5);
  color: white;
  cursor:url(./assets/images/UI/PointerText.png) 4 9, text;
  font-family: pixel-standard;
  font-size: 8px;
}

#viewport input[type='text']::placeholder {
  color: rgba(0, 0, 0, 0.25);
}

#viewport .cursorActive, #viewport .cursorGlow {
  cursor:url(./assets/images/UI/PointerActive.png) 9 0, pointer;
}

#viewport .cursorGlow:hover {
	text-shadow: 0 0 1px white;
}